<div style="height: 55px" class="flex flex-col relative">
  <%= content_tag :input,
                  nil,
                  type: "text",
                  id: @id,
                  name: @name,
                  value: @value,
                  class: @classes,
                  maxlength: @maxlength
  %>

  <p id="<%= @id %>_error" class="text-red-500 text-sm absolute bottom-0">
    <%= @errors&.first %>
  </p>
</div>
