<div class="flex w-full h-full">
  <%= render "shared/sidebar" %>

  <div style="box-shadow: inset 15px 20px 20px -20px rgba(0,0,0,1);" class="bg-gradient-to-r from-gray-800 to-gray-600 w-9/12">
  </div>
</div>
