<aside style="box-shadow: inset 0 20px 20px -20px rgba(0,0,0,1);" class="w-3/12 h-full bg-white p-9">
  <div class="flex flex-col h-full justify-between">
    <%= image_tag "spades-up.svg", class: "h-8 w-8" %>
    <div class="flex flex-col space-y-4 px-5 text-xl">
      <div class="flex space-x-2 items-center">
        <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.909091 9.32075V7.77636H19.0909V9.32075H0.909091ZM1.95455 4.64899L0.772727 4.06984L1.54545 2.91155H0V1.75327H1.54545L0.772727 0.633587L1.95455 0.0544434L2.72727 1.17412L3.5 0.0544434L4.68182 0.633587L3.90909 1.75327H5.45455V2.91155H3.90909L4.68182 4.06984L3.5 4.64899L2.72727 3.4907L1.95455 4.64899ZM9.22727 4.64899L8.04545 4.06984L8.81818 2.91155H7.27273V1.75327H8.81818L8.04545 0.633587L9.22727 0.0544434L10 1.17412L10.7727 0.0544434L11.9545 0.633587L11.1818 1.75327H12.7273V2.91155H11.1818L11.9545 4.06984L10.7727 4.64899L10 3.4907L9.22727 4.64899ZM16.5 4.64899L15.3182 4.06984L16.0909 2.91155H14.5455V1.75327H16.0909L15.3182 0.633587L16.5 0.0544434L17.2727 1.17412L18.0455 0.0544434L19.2273 0.633587L18.4545 1.75327H20V2.91155H18.4545L19.2273 4.06984L18.0455 4.64899L17.2727 3.4907L16.5 4.64899Z" fill="#1E1E1E" fill-opacity="0.8"/>
        </svg>
        <%= link_to "Edit password", new_user_password_path, class: ("font-bold" if current_page?(new_user_password_path)) %>
      </div>
    </div>
    <div class="flex w-full justify-end">
      <%= image_tag "spades-down.svg", class: "h-8 w-8" %>
    </div>
  </div>
</aside>
